@page "{id}"
@model RecipeManager.Pages.Recipes.EditModel
@{
	ViewData["Title"] = "Edit recipe";
}
<form method="post" class="form-horizontal">
<partial name="_RecipeFormPartial" model="@Model.Input">
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<button type="button" class="btn btn-success" id="addIngredient">Add ingredient</button>
			<button type="submit" class="btn btn-primary">Confirm</button>
			<a asp-page-handler="Delete" asp-route-id="@Model.Id" class="btn btn-danger float-right" >Delete</a>
		</div>
	</div>
</form>

	@section Scripts{
	<partial name="_ValidationScriptsPartial" />
	<script>
		var ingredients = $('#ingredients tbody');
		$("#addIngredient").click(function () {
			var rowNo = ingredients.find('tr').length;
			var template =
				'<tr>' +
				'<td><input name="Ingredients[' + rowNo + '].Name" id="Ingredients_' + rowNo + '_Name" /></td>' +
				'<td><input name="Ingredients[' + rowNo + '].Quantity" id="Ingredients_' + rowNo + '_Quantity" /></td>' +
				'<td><input name="Ingredients[' + rowNo + '].Unit" id="Ingredients_' + rowNo + '_Unit" /></td>' +
				//TODO: Correct remove if adding after remove
				//'<td><a href="#" class="remove">Remove</a></td>' +
				'</tr>';
			ingredients.append(template);
		});

		ingredients.on('click', '.remove', function (e) {
			$(this).closest('tr').remove();
		});
	</script>
	}
